<h3>Welcome to Nate's Blackjack Web App</h3>
<h4>Place your bet...</h4>

<h5>You have <u>$<%= session[:player_money] %></u> in your player pot.</h5>

<form action='/bet' method='post'>
	<div class="input-prepend input-append">
  	<span class="add-on">$</span>
  	<input class="span2" id="appendedPrependedInput" type="text" name='bet'/>
  	<span class="add-on">.00</span>
 </div>
 <br/>
 <input type='submit' class='btn'/>
</form>



