<h3>Welcome to Nate's Blackjack Web App</h3>
<h4>Place your bet...</h4>

<h5>You have <u>$<%= session[:player_money] %></u> in your player pot.</h5>

<form action='/bet' method='post'>
 Your Bet: <input type='text' name='bet'/>
 <br/>
 <input type='submit' class='btn'/>
</form>
