<h3>Welcome to Nate's Blackjack Web App</h3>
<h4>Please, input your name</h4>

<form action='/username' method='post'>
 Your Name: <input type='text' name='username'/>
 <br/>
 <input type='submit' class='btn'/>
</form>
